@model List<eQuiz.Models.Setting>

@{
    ViewBag.Title = "Settings";
}

<link rel="shortcut icon" href="./img/favicon.ico">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="./css/prettify-1.0.css" rel="stylesheet">
<link href="./css/base.css" rel="stylesheet">
<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
                
@using (Html.BeginForm("CreateSettings", "Home"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Settings</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="form-group">
                @Html.Label(Model[i].Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class='col-md-10 input-group date' id='@((Model[i].Name == "Quiz Start Time") ? "datetimepicker1" : "")'>
                    @Html.TextBox("Settings[" + i + "].Value", Model[i].Value, new { @class = "form-control" })
                    @*<input type='text' class="form-control" />*@
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.ValidationMessageFor(model => Model[i].Name, "", new { @class = "text-danger" })
                </div>
                @Html.Hidden("Settings[" + i + "].SettingId", Model[i].SettingId)
                @Html.Hidden("Settings[" + i + "].Name", Model[i].Name)
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
                    
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

<script>
    if (top != self) { top.location.replace(self.location.href); }
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47462200-1', 'eonasdan.github.io');
    ga('send', 'pageview');
</script>
