@model List<eQuiz.Models.Setting>

@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>
@using (Html.BeginForm("CreateSettings", "Home"))
{
    @*@Html.EditorFor(model => Model[i].Name)*@
    
    for (int i = 0; i < Model.Count(); i++)
    {
        <div class="form-group">
            @Html.Label(Model[i].Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Hidden("Settings[" + i + "].SettingId", Model[i].SettingId)
                @Html.Hidden("Settings[" + i + "].Name", Model[i].Name)
                @Html.TextBox("Settings[" + i + "].Value", Model[i].Value, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model[i].Name, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>